<div
  class="navigator-top"
  [ngClass]="isNavigatorsFxEnd ? '' : 'initNavigatorsFx'"
>
  <button
    (click)="nextPreviousTab('prev')"
    [disabled]="changeCurrentTab === tabs.About"
    [ngClass]="{ 'tab-block': changeCurrentTab === tabs.Contact}"
  >
    &lsaquo;
  </button>
</div>
<div
  class="navigator-bottom"
  [ngClass]="isNavigatorsFxEnd ? '' : 'initNavigatorsFx'"
>
  <button
    (click)="nextPreviousTab('next')"
    [disabled]="changeCurrentTab === tabs.Contact"
    [ngClass]="{ 'tab-block': changeCurrentTab === tabs.About}"
  >
    &rsaquo;
  </button>
</div>
<div
  class="mainContentWrapper"
  [ngClass]="isSideBarFxEnd ? '' : 'initSidebarFx'"
  Animations
  [pageName]="'sidebar'"
>
  <div
    class="socialLinks"
    [ngClass]="!isSideBarFxEnd ? 'incominglLinksFx' : ''"
  >
    <a target="_blank" href="https://linkedin.com/in/jonathan-daniel">
      <img src="https://bit.ly/3jmPuoM" alt="LinkedIn" title="LinkedIn" />
    </a>
    <a target="_blank" href="https://github.com/jdev-il">
      <img src="https://bit.ly/3WzbM5b" alt="GitHub" title="GitHub" />
    </a>
    <a target="_blank" href="https://facebook.com/yonatan.daniel.1">
      <img src="https://bit.ly/3v8pa4I" alt="Facebook" title="Facebook" />
    </a>
  </div>
  <div
    class="jdev-logo"
    [ngClass]="!isSideBarFxEnd ? 'incominglLogoFx' : ''"
    (click)="changeCurrentTab = tabs.About"
  ></div>
  <div class="resumeBtn" [ngClass]="!isSideBarFxEnd ? 'downloadButtonFx' : ''">
    <button
      matButton
      (click)="downloadFile()"
      [disabled]="isDownloaded ? true : null"
      [ngClass]="isDownloaded ? 'disabled' : ''"
    >
      Resume
    </button>
  </div>
  <mat-tab-group
    [selectedIndex]="changeCurrentTab"
    (selectedTabChange)="changeTab($event)"
    #tabGroup
  >
    <mat-tab [label]="pageName.About">
      <ng-template matTabContent>
        <About (changeTab)="setTabChange($event)"></About>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="pageName.Portfolio" #matTabHeader>
      <ng-template matTabContent>
        <Portfolio [currentTabIndex]="tabIndex"></Portfolio>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="pageName.Experience">
      <ng-template matTabContent><Experience></Experience></ng-template>
    </mat-tab>
    <mat-tab [label]="pageName.Contact">
      <ng-template matTabContent><Contact></Contact></ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="rightSideText">
    <div
      class="verticalFloatingDiv"
      [ngClass]="!isSideBarFxEnd ? 'incominglLinksFx' : ''"
    >
      <a href="mailto:jdwork2021@gmail.com">jdwork2021@gmail.com</a>
    </div>
  </div>
</div>
