.navigator-top, .navigator-bottom {
  position: fixed;
  z-index: 888;
  margin: 0 0 0 1%;
  bottom: 50%;
  > button {
    transform: scale(1);
    transition: all .085s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 6rem;
    border-radius: 0.3em;
    background-color: transparent;
    color: #02fef6;
    text-shadow: #bdfffe 0 0 3px;
    border: none;
    margin: 0;
    padding: 0 15px;
    height: fit-content;
    user-select: none;
    &:disabled {
      pointer-events: none;
      color: #02fef6a7;
      opacity: .4;
    }
    @media screen and (max-width: 1200px) {
      font-size: 5rem;
    }
    &:active {
      transform: scale(.85);
    }
  }
  .tab-block {
    transform: scale(1.15);
    color: #bdfffe;
    text-shadow: #fffadedb 0 0 15px;
    &:hover {
      color: #60fffc;
      text-shadow: #bdfffe 0 0 3px;
    }
    &:active {
      transform: scale(1);
    }
  }
  @media screen and (max-width: 1440px) {
    margin: 0 0 0 8%;
    @media screen and (max-width: 1200px) {
      margin: 0 0 0 12%;

      @media screen and (max-width: 1024px) { //! Mobile view

       @media screen and (max-width: 992px) { //! Mobile view
       }
      }
    }
  }
}
.navigator-top {
  left: 10%;
  @media screen and (max-width: 992px) {
    display: none;
  }
}
.navigator-bottom {
  right: 4%;
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.mainContentWrapper {
  height: 100vh;
  width: 100%;
  .socialLinks {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 4vw;
    z-index: 888;
    writing-mode: vertical-lr;
    a {
      position: relative;
      bottom: 100%;
      width: 100%;
      height: 100%;
      transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955),
        color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) !important;
      line-height: 1.5;
      letter-spacing: 0.25em;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      text-decoration: none;
      padding: 3px 0 15px 0;
      color: var(--primary-text-light);
      img {
        width: 22px;
        height: auto;
      }
      &:hover {
        transform: translateY(-2px) scale(1.1);
      }
    }
    &::after {
      transition: height 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955),
        background-color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) !important;
      content: "";
      position: absolute;
      bottom: 0;
      width: 1px;
      height: 115px;
      background-color: var(--primary-text-light);
    }
  }
  .jdev-logo {
    position: fixed;
    background-image: url("../../../../assets/images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    left: 3.5vw;
    top: 5vh;
    z-index: 888;
    cursor: pointer;
  }
  .resumeBtn {
    position: fixed;
    right: 3%;
    top: 5%;
    display: flex;
    justify-content: center;
    z-index: 888;
    button {
      display: inline-flex;
      justify-content: center;
      cursor: pointer;
      padding: 10px 15px;
      font-size: large;
      border-radius: 0.3em;
      border: none;
      width: 100%;
      background-color: transparent;
      color: #02fef6;
      border: 1px solid #02fef6;
      font-weight: 100;
      transition: all 0.215s cubic-bezier(0.47, 0, 0.745, 0.715) !important;
      &:hover {
        color: #160426;
        border-color: #02fef653;
        background-color: #fffadedb;
        box-shadow: 0 2px 25px -2px #02fef6a9;
      }
      @media screen and (max-width: 992px) {
        font-size: smaller;
      }
    }
    .disabled {
      pointer-events: none !important;
      color: #02fef627;
      border: 1px solid #02fef627;
    }
  }
  @media screen and (max-width: 992px) {
    // height: 100%;
  }
  ::ng-deep .mat-tab-group {
    //display: flex (applied)
    flex-direction: row;
    width: initial;
    height: 100%;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
    .mat-tab-header {
      position: fixed;
      height: 100%;
      z-index: 111;
      backdrop-filter: blur(1em);
      background-color: var(--primary-bg-v2);
      clip-path: ellipse(75% 75% at 25% 50%);
      .mat-tab-header-pagination {
        display: none;
      }
      .mat-tab-label-container {
        height: 100%;
        width: 100%;
        .mat-tab-list {
          // color: #2a0944;
          color: #02fef6;
          .mat-tab-labels {
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            @media screen and (max-width: 992px) {
              width: 100%;
              display: flex;
              flex-flow: row;
            }
            .mat-tab-label {
              position: relative;
              right: 0;
              opacity: 0.2;
              font-size: 1.2rem;
              font-weight: 400;
              margin: 0;
              transition: all 0.195s cubic-bezier(0.455, 0.03, 0.515, 0.955);
              font-family: "Raleway", sans-serif;
              &:not(.mat-tab-label-active) {
                font-size: 1.08rem;
              }
              &:hover:not(.mat-tab-label-active) {
                opacity: 0.6;
              }
              &.mat-tab-label-active {
                font-weight: 500;
                &:hover {
                  ::before {
                    background-color: #02fef6c7;
                  }
                  &::after {
                    background-color: #02fef6c7;
                  }
                  color: #02fef6c7;
                }
                &::after {
                  opacity: 1;
                  right: 1.5vw;
                  transform: scale(1.2);
                  @media screen and (max-width: 992px) {
                    display: none;
                  }
                }
                ::before {
                  opacity: 1;
                  left: 1.5vw;
                  transform: scale(1.2);
                  @media screen and (max-width: 992px) {
                    display: none;
                  }
                }
              }
              &:hover {
                &::after {
                  content: "";
                  mask: url("/assets/images/icons/greater-than.svg");
                  mask-repeat: no-repeat;
                  mask-size: cover;
                  opacity: 1;
                  right: 1.5vw;
                  transition: all 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
                }
                ::before {
                  content: "";
                  mask: url("/assets/images/icons/less-than.svg");
                  mask-repeat: no-repeat;
                  mask-size: cover;
                  position: absolute;
                  opacity: 1;
                  left: 1.5vw;
                  transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                }
              }
              ::before {
                display: flex;
                align-items: center;
                animation: fadeArrow 0.3s both;
                content: "";
                mask: url("/assets/images/icons/less-than.svg");
                mask-repeat: no-repeat;
                mask-size: cover;
                background-color: #02fef6;
                position: absolute;
                left: -1.8vw;
                width: 21px;
                height: 21px;
                bottom: 14px;
                transform: rotateY(180deg);
                transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
                @media screen and (max-width: 992px) {
                  display: none;
                }
              }
              &::after {
                animation: fadeArrow 0.3s both;
                content: "";
                mask: url("/assets/images/icons/greater-than.svg");
                mask-repeat: no-repeat;
                mask-size: cover;
                background-color: #02fef6;
                position: absolute;
                right: -1.8vw;
                width: 19px;
                height: 19px;
                bottom: 14px;
                transform: rotateY(-180deg);
                transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                @keyframes fadeArrow {
                  0% {
                    opacity: 0;
                  }
                  100% {
                    opacity: 1;
                  }
                }
                @media screen and (max-width: 992px) {
                  display: none;
                }
              }

              @media screen and (max-width: 1200px) {
                @media screen and (max-width: 992px) {
                  font-size: 1.1rem;
                  // margin: 45px 0;
                  @media screen and (max-width: 768px) {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    bottom: 5px;
                    &:not(.mat-tab-label-active) {
                      font-size: 1.05rem;
                    }
                    font-size: 1.2rem;
                    margin: 10px 0;
                  }
                }
              }
            }
            .mat-tab-label-active {
              opacity: 1;
            }
          }
        }
      }
    }

    .mat-tab-body-wrapper {
      z-index: 11;
      width: 100%;
      height: 100%;
      .mat-tab-body {
        height: 100%;
        .mat-tab-body-content {
          height: 100%;
          @media screen and (min-width: 1440px) {
            font-size: 125%;
          }
          @media screen and (max-width: 1440px) {
            font-size: 120%;
            margin-left: 15%;
            @media screen and (max-width: 1200px) {
              margin-left: 20%;
              font-size: 100%;
              @media screen and (max-width: 992px) {
                width: 100%;
                margin-left: 0;
                position: relative;
              }
            }
          }
        }
      }

      .mat-tab-body-active {
        animation: contentBodyActive 0.4s both 0.2s ease-in-out;
        @keyframes contentBodyActive {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
  .rightSideText {
    position: fixed;
    bottom: 0;
    z-index: 888;
    width: 1%;
    color: var(--text-light);
    right: 5vw;
    &:hover {
      .verticalFloatingDiv {
        a {
          height: 345px;
          color: var(--alt-text2);
        }
        &::after {
          height: 120px;
          background-color: var(--alt-text2);
        }
      }
    }
    .verticalFloatingDiv {
      z-index: inherit;
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      right: 0;
      backdrop-filter: blur(8px);
      a {
        position: relative;
        font-size: small;
        transition: height 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955),
          color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) !important;
        line-height: 1.5;
        letter-spacing: 0.25em;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        text-decoration: none;
        height: 340px;
        color: var(--primary-text-light);
      }
      &::after {
        transition: height 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955),
          background-color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) !important;
        content: "";
        position: absolute;
        bottom: 0;
        width: 1px;
        height: 115px;
        background-color: var(--primary-text-light);
      }
    }
  }
}
@import '../../styles/breakpoints.core.scss';
