.portfolioComponent {
  width: 100%;
  height: 100%;
  .inComponentWrapper {
    position: absolute;
    width: 85%;
    height: 100%;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
    .componentHeader {
      position: fixed;
      left: 20vw;
      width: 65%;
      background-color: rgba(39, 29, 58, 0.262745098);
      backdrop-filter: blur(11px);
      -webkit-backdrop-filter: blur(11px);
      z-index: 888;
      padding-top: 12vh;
      @media screen and (max-width: 992px) {
        padding-top: 0;
        height: 24%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
      }
      @media screen and (min-width: 1880px) {
        width: 100%;
        padding-top: 12vh;
      }
      .portfolioTitle {
        position: relative;
        left: 0;
        bottom: 15%;
        padding-bottom: 3px;
        h1 {
          font-family: "Raleway", sans-serif;
          font-size: 3.4rem;
          font-weight: 400;
          text-shadow: 1px 1px #160426;
          color: #ffffff;
        }
        h3 {
          font-family: "Raleway", sans-serif;
          font-size: 0.9rem;
          font-weight: 300;
          color: var(--secondary-text);
        }
        z-index: 111;
      }
      z-index: 100;
    }
    .componentContent {
      height: 100%;
      position: absolute;
      right: 0;
      @media screen and (max-width: 992px) {
        position: relative;
      }
      .portfolioBlock {
        position: fixed;
        bottom: 0;
        height: 100%;
        width: 95%;
        overflow-y: auto;
        overflow-x: hidden;
        background: var(--secondary-bg);
        @media screen and (max-width: 992px) {
          width: 100%;
        }
        @media screen and (min-width: 1921px) {
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 85%;
        }
        .portfolioCardsWrapper {
          height: 100%;
          position: relative;
          top: 20%;
          ::ng-deep .mat-card {
            width: 100%;
            @media screen and (max-width: 1920px) {
              width: 90%;
              right: 5%;
                @media screen and (max-width: 992px) {
                  right: 0;
                  width: 100%;
                }
            }
            .mat-card-title {
              padding: 0 0 3rem;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              position: relative;
              transition: all 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.75s;
              transform: scale(1);
              color: var(--secondary-text-light);
              margin: 0;
              .company-info {
                display: flex;
                align-items: center;
                justify-content: center;
                .img-protector {
                  margin: 0 15px !important;
                  position: relative;
                  img {
                    &:first-child {
                      width: 50px;
                    }
                    width: 65px;
                    height: auto;
                  }
                  .mask {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                  }
                }
                h1 {
                  font-size: 2.5rem;
                  font-weight: 600;
                  text-align: center;
                  padding-bottom: 5px;
                }
                :nth-child(n) {
                  margin: 0;
                }
              }
              :nth-child(n) {
                margin: 1% 0 0;
              }
            }
            .contentWrapper {
              display: flex;
              width: 100;
              justify-content: center;
              padding: 0 0 2em;
              .mat-card-image {
                margin: 0 !important;
                width: 100%;
              }
              .rightContent {
                //^ RIGHT SIDE // RIGHT SIDE // RIGHT SIDE
                flex-flow: row;
                justify-content: flex-start;
                .cardText {
                  justify-content: flex-start;
                  .textContainer {
                    padding: 0;
                    margin: 0;
                  }
                }
              }
              .leftContent {
                //_ LEFT SIDE // LEFT SIDE // LEFT SIDE
                flex-flow: row-reverse;
                justify-content: flex-end;
                .cardText {
                  justify-content: flex-end;
                  .textContainer {
                    padding: 0;
                    margin: 0;
                  }
                }
              }
              @media screen and (min-width: 1200px) {
                &:hover {
                  .leftContent,
                  .rightContent {
                    .cardText {
                      transition: transform 0.15s 0.1s
                        cubic-bezier(0.165, 0.84, 0.44, 1);
                      .textContainer {
                        .title {
                          transition: color 0.2s 0.25s
                              cubic-bezier(0.445, 0.05, 0.55, 0.95),
                            top 0.4s 0.6s cubic-bezier(0.215, 0.61, 0.355, 1),
                            font-size 0.4s 0.2s
                              cubic-bezier(0.445, 0.05, 0.55, 0.95),
                            transform 0.8s 1s
                              cubic-bezier(0.47, 0, 0.745, 0.715);
                          color: var(--primary-text);
                          top: 0;
                          font-size: 1.2rem !important;
                          @media screen and (max-width: 1440px) {
                            font-size: 1rem !important;
                          }
                          @media screen and (min-width: 1920px) {
                            font-size: 1.4rem !important;
                          }
                        }
                        .desc {
                          transition: color 0.15s 0.2s
                              cubic-bezier(0.445, 0.05, 0.55, 0.95),
                            opacity 0.8s 0.8s
                              cubic-bezier(0.445, 0.05, 0.55, 0.95);
                          color: var(--alt-text2);
                          opacity: 1;
                        }
                      }
                    }
                    .cardImage {
                      transition: transform 0.45s 0.6s
                        cubic-bezier(0.215, 0.61, 0.355, 1);
                      .imageOverlay {
                        transition: backdrop-filter 0.8s 0.4s
                            cubic-bezier(0.445, 0.05, 0.55, 0.95),
                          background-color 0.6s 0.2s
                            cubic-bezier(0.445, 0.05, 0.55, 0.95),
                          box-shadow 0.6s 0.6s
                            cubic-bezier(0.445, 0.05, 0.55, 0.95);
                        backdrop-filter: none;
                        background-color: transparent;
                      }
                    }
                  }
                  :not(.leftContent) {
                    .cardImage {
                      transform: scale(0.95) translateX(0%)
                        rotate3d(3, -2, -1, -0.1turn);
                      .imageOverlay {
                        box-shadow: 8px 4px 15px -5px #ffffff8b;
                      }
                    }
                  }
                  :not(.rightContent) {
                    .cardImage {
                      transform: scale(0.95) translateX(0%)
                        rotate3d(3, 2, -1, 0.1turn);
                      .imageOverlay {
                        box-shadow: -8px 4px 15px -5px #ffffff8b;
                      }
                    }
                  }
                }
              }
              .rightContent,
              .leftContent {
                display: flex;
                width: 75%;
                padding: 10px 30px 5px;
                .cardText {
                  display: flex;
                  transition: transform 0.8s 0.4s
                    cubic-bezier(0.445, 0.05, 0.55, 0.95);
                  .textContainer {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    .title {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: relative;
                      transition: color 0.3s 0.6s
                          cubic-bezier(0.445, 0.05, 0.55, 0.95),
                        transform 0.3s 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
                        top 0.4s 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
                        font-size 0.4s 0.6s
                          cubic-bezier(0.445, 0.05, 0.55, 0.95);
                      font-size: 1.3rem;
                      top: 15%;
                      color: var(--secondary-text);
                      padding: 0 0 25px 0;
                      @media screen and (max-width: 1600px) {
                        top: 25%;
                        font-size: 1.4rem;
                        @media screen and (max-width: 1440px) {
                          top: 40%;
                          font-size: 1.1rem;
                        }
                      }
                    }
                    .desc {
                      display: flex;
                      width: 95%;
                      margin: 0 auto;
                      transition: color 0.15s 0.2s
                          cubic-bezier(0.445, 0.05, 0.55, 0.95),
                        opacity 0.3s 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
                      opacity: 0;
                      color: var(--secondary-text);
                    }
                  }
                }
                .cardImage {
                  position: relative;
                  transition: transform 0.6s 0.4s
                    cubic-bezier(0.215, 0.61, 0.355, 1);
                  padding: 0;
                  .imageOverlay {
                    transition: backdrop-filter 0.6s 0.4s
                        cubic-bezier(0.47, 0, 0.745, 0.715),
                      background-color 0.2s 0.4s
                        cubic-bezier(0.445, 0.05, 0.55, 0.95),
                      box-shadow 0.4s 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                    z-index: 49;
                    border-radius: 1em;
                    backdrop-filter: blur(3px);
                    background-color: #16042644;
                    box-shadow: 0px 2px 6px -1px #ffffff22;
                  }
                  .imageWrap {
                    position: relative;
                    background-color: var(--primary-bg-light);
                  }
                }
              }
              :not(.leftContent) {
                .cardImage {
                  transform: scale(1) translateX(-10%) rotate3d(0, 0, 0, 0turn);
                }
              }
              :not(.rightContent) {
                .cardImage {
                  transform: scale(1) translateX(10%) rotate3d(0, 0, 0, 0turn);
                }
              }
            }
            @media screen and (min-width: 1200px) {
              &:hover {
                .mat-card-title {
                  transition: all 1.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
                    0.5s;
                  color: var(--primary-text);
                  transform: scale(1.1);
                }
              }
            }
          }
          .lineBreak {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 25px 0 95px 0;
            .border {
              border: 0.01em solid var(--secondary-text);
              width: 50%;
            }
          }
        }
      }
    }
  }
}
