<div
  class="contactComponent componentContainer contactResponssiveComponent simpleFadeIn"
>
  <div class="inComponentWrapper">
    <div class="leftWrapper">
      <div class="contactWelcome">
        <div class="contactDiv">
          <div class="contactTitle">
            <h1>LET'S TALK</h1>
            <img src="../../../../assets/images/icons/talk-icon.svg" alt="" />
          </div>
          <div class="contactText">
            <p>I really look forward having a conversation with you</p>
            <p>so here are several ways you can reach me:</p>
          </div>
          <div class="contactOptionsDiv">
            <div class="contactOption">
              <div class="horizontalLine"></div>
              <div class="optionDetails">
                <a target="_blank" href="mailto:jdwork2021@gmail.com"
                  >via Email (dm) <mat-icon>email</mat-icon></a
                >
              </div>
            </div>
            <div class="contactOption">
              <div class="horizontalLine"></div>
              <div class="optionDetails">
                <a target="_blank" href="tel:0504424000"
                  >via Phone<mat-icon>smartphone</mat-icon></a
                >
              </div>
            </div>
            <div class="contactOption">
              <div class="horizontalLine"></div>
              <div class="optionDetails">
                <a
                  target="_blank"
                  href="https://api.whatsapp.com/send/?phone=%2B972504424000&text&type=phone_number&app_absent=0"
                  >via WhatsApp (dm)<mat-icon
                    ><img
                      src="../../../../assets/images/icons/whatsapp-icon.svg"
                      alt="" /></mat-icon
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rightWrapper">
      <div class="contactActions">
        <div class="contactForm">
          <div class="formContainer">
            <div class="formOverlay"></div>
            <div class="innerFormContainer">
              <ng-container *ngIf="!isFormValid; else formSent">
                <div class="introMessage">
                  <h3>Or send me a message <mat-icon>mail</mat-icon></h3>
                </div>
                <form
                  [formGroup]="contactForm"
                  (ngSubmit)="sendForm(contactForm.value)"
                >
                  <mat-form-field appearance="standard" hideRequiredMarker>
                    <mat-label>To whom shall I reply to?</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="Your name maybe..?"
                      type="text"
                      formControlName="name"
                    />
                  </mat-form-field>
                  <mat-form-field appearance="standard" hideRequiredMarker>
                    <mat-label>How can I reach you back?</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="An email sounds awesome.. :)"
                      type="email"
                      formControlName="email"
                    />
                  </mat-form-field>
                  <mat-form-field class="textAreaFormField">
                    <mat-label
                      >A comment, a feedback, anything really..</mat-label
                    >
                    <textarea matInput formControlName="extra"></textarea>
                  </mat-form-field>
                  <div class="btnDiv">
                    <button
                      type="submit"
                      class="matBtn"
                      [disabled]="contactForm.invalid"
                    >
                      Send Messages
                    </button>
                    <button
                      class="clear-form-btn"
                      type="reset"
                      [disabled]="contactForm.invalid"
                    >
                      Clear form
                    </button>
                  </div>
                </form>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #formSent>
  <div class="thank-you-note">
    <h1>Thanks for leaving a message!</h1>
    <h2>I'll get back to you as soon as I can :)</h2>
  </div>
</ng-template>
