.simpleFadeIn {
  animation: simpleFade 0.8s forwards cubic-bezier(0.445, 0.05, 0.55, 0.95);
  @keyframes simpleFade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.translateFadeInFx {
  animation: translateFadeIn 1.8s both 0.2s cubic-bezier(0.025, 0.5, 0.165, 1);
  &:nth-child(1) {
    animation-delay: 0.8s;
  }
  &:nth-child(2) {
    animation-delay: 1s;
  }
  &:nth-child(3) {
    animation-delay: 1.2s;
  }
  &:nth-child(4) {
    animation-delay: 1.6s;
  }
  &:nth-child(5) {
    animation-delay: 2s;
  }
  &:nth-child(6) {
    animation-delay: 2.2s;
  }
  @keyframes translateFadeIn {
    0% {
      transform: translateY(250px);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
}

//! Titles
.moveTitleFx {
  position: relative;
  width: 100%;
  left: 18%;
  animation: moveInTitleFx forwards 2s 4.8s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  @keyframes moveInTitleFx {
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @media screen and (max-width: 992px) {
    .showUpFx,
    .showUpFx2,
    .showUpFx3 {
      position: relative;
      font-size: 2rem !important;
      top: 25vh;
      right: 12vw;
      @media screen and (max-width: 768px) {
        font-size: 1.8rem !important;
        right: 8vw;
        @media screen and (max-width: 540px) {
          top: 30vh;
          font-size: 1.4rem !important;
          right: 6vw;
        }
      }

    }
  }

  @media screen and (min-width: 992px) {
    .showUpFx,
    .showUpFx2,
    .showUpFx3 {
      position: static;
      font-size: 2.5rem;
    }
  }
  .showUpFx {
    animation: showfx both 3.5s 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    @keyframes showfx {
      0% {
        transform: translateY(100px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  .showUpFx2 {
    animation: showfx2 both 3.7s 1.6s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 5;
    @keyframes showfx2 {
      0% {
        transform: translateY(120px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  .showUpFx3 {
    animation: showfx3 both 2.5s 1.8s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-115px);
    opacity: 0;
    @keyframes showfx3 {
      0% {
        z-index: -1;
        opacity: 0;
      }
      50% {
        transform: translateY(-35px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        z-index: 5;
        opacity: 1;
      }
    }
  }
}

.staticTitleFx {
  position: absolute;
  animation: staticTitleOpacity both 2.8s 7s cubic-bezier(0.23, 1, 0.32, 1);
  @keyframes staticTitleOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .awaiting-title {
    animation: awaitingTitle both 2.8s 8s cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    opacity: 0;
    @keyframes awaitingTitle {
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
.postStaticTitleFx {
  opacity: 1;
}

//* Header & images */
.componentWrapperFx {
  pointer-events: none;
}

.overlayAnimation {
  z-index: 0;
  animation: moveImgAfterDoneFx both 2s 5.5s
    cubic-bezier(0.645, 0.045, 0.355, 1);
  @media screen and (max-width: 992px) {
    @keyframes moveImgAfterDoneFx {
      0% {
        opacity: 0;
        left: -25vw;
      }
      100% {
        opacity: 1;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
  @media screen and (min-width: 992px) {
    @keyframes moveImgAfterDoneFx {
      0% {
        opacity: 0;
        left: 0;
      }
      100% {
        opacity: 1;
        left: 18%;
      }
    }
  }


}

.headerOverlayAfterFx {
  top: 200px;
  left: 18%;
  .postAboutImgFx {
    @media screen and (max-width: 992px) {
      top: 75px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}

//^ Content
.moveInTextFx {
  animation: moveInTextFx both 2s 5.3s cubic-bezier(0.23, 1, 0.32, 1);
  bottom: 0;
  @media screen and (max-width: 992px) {
    @keyframes moveInTextFx {
      0% {
        transform: translateY(80%);
        opacity: 0;
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  @media screen and (min-width: 992px) {
    @keyframes moveInTextFx {
      0% {
        transform: translateY(60%);
        opacity: 0;
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
