.mainContentWrapper {
  @media screen and (max-width: 992px) {
    position: absolute;
    bottom: 0;
    display: block;
  }
  /* TABS MENU || TABS MENU || TABS MENU || TABS MENU */
  ::ng-deep .mat-tab-group {
    .mat-tab-header {
      width: 10%;
      @media screen and (max-width: 1440px) {
        width: 15%;
        @media screen and (max-width: 1200px) {
          width: 20%;
          @media screen and (max-width: 992px) {
            position: fixed;
            top: 0;
            height: 10vh;
            clip-path: ellipse(100% 100% at 50% -15%);
            width: 100%;
            z-index: 99999;
            backdrop-filter: none !important;
          }
        }
      }
      .mat-tab-label-container {
        @media screen and (max-width: 992px) {
          display: block;
          overflow: auto;
          z-index: 1;
        }
        .mat-tab-list {
          @media screen and (max-width: 992px) {
            width: 100%;
          }
          .mat-tab-labels {
            @media screen and (max-width: 992px) {
              width: 85%;
              justify-content: center;
              align-items: center;
              margin: 0 auto;
              .mat-tab-label:hover:not(.mat-tab-label-active) {
                opacity: unset;
                color: inherit;
              }
            }
            .mat-tab-label {
              @media screen and (max-width: 1600px) {
                &.mat-tab-label-active,
                &:hover {
                  &::after {
                    right: 0.8vw;
                  }
                  ::before {
                    left: 0.8vw;
                  }
                }
                @media screen and (max-width: 1200px) {
                  &.mat-tab-label-active {
                    &::after {
                      right: 3vw;
                    }
                    ::before {
                      left: 3vw;
                    }
                  }

                  @media screen and (max-width: 992px) {
                    transition: font-size 0.12s
                      cubic-bezier(0.215, 0.61, 0.355, 1);
                    position: sticky;
                    display: inline-flex;
                    top: 0;
                    left: 0;
                    font-size: 0.8rem !important;
                    &:hover {
                      color: inherit !important;
                    }
                    &.mat-tab-label-active {
                      left: 0;
                      right: 0;
                      &::after,
                      ::before {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .socialLinks {
    @media screen and (max-width: 1440px) {
      left: 6vw;
      @media screen and (max-width: 1200px) {
        left: 8vw;
        @media screen and (max-width: 992px) {
          left: 3vw;
        }
      }
    }
  }
  .resumeBtn {
    @media screen and (max-width: 992px) {
      right: 3vw;
      top: 11vh;
      button {
        padding: 6px;
        font-size: xx-small;
      }
    }
  }
  .jdev-logo {
    @media screen and (max-width: 1440px) {
      left: 5.5vw;
      @media screen and (max-width: 1200px) {
        left: 3vw;
        @media screen and (max-width: 992px) {
          height: 30px;
          width: 30px;
          top: 11vh;
        }
      }
    }
  }
  /* TABS MENU || TABS MENU || TABS MENU || TABS MENU */
}

.aboutResponssiveComponent {
  /* ABOUT || ABOUT || ABOUT || ABOUT */
  .inComponentWrapper {
    @media screen and (max-width: 992px) {
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      top: 0;
    }
    &:hover {
      .componentHeader:not(:hover) {
        .headerWrapper {
          .aboutTitle {
            left: 5%;
            .textCarouselWrapper {
              left: 26%;
              @media screen and (max-width: 1600px) {
                left: 30%;
                @media screen and (max-width: 1440px) {
                  left: 33%;
                  @media screen and (max-width: 1366px) {
                    @media screen and (max-width: 1280px) {
                      @media screen and (max-width: 992px) {
                        @media screen and (max-width: 768px) {
                          @media screen and (max-width: 544px) {
                            @media screen and (max-width: 460px) {
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              @media screen and (min-width: 1920px) {
                left: 28%;
                @media screen and (min-width: 2560px) {
                  left: 26%;
                }
              }
              .staticTextDiv {
                @media screen and (max-width: 1600px) {
                  @media screen and (max-width: 1440px) {
                    top: 2vh;
                    @media screen and (max-width: 1366px) {
                      @media screen and (max-width: 1280px) {
                        @media screen and (max-width: 992px) {
                          @media screen and (max-width: 768px) {
                            @media screen and (max-width: 544px) {
                              @media screen and (max-width: 460px) {
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                  @media screen and (min-width: 1920px) {
                    top: -2vh;
                    @media screen and (min-width: 2560px) {
                      top: -3vh;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .componentHeader {
      .headerWrapper {
        .aboutTitle {
          position: absolute;
          top: 0;
          left: 5%;
          .staticTitle {
            left: 28%;
            @media screen and (min-width: 1920px) {
              h1 {
                font-size: 3.2rem;
              }
              top: 12vh;
            }
            @media screen and (max-width: 1920px) {
              h1 {
                font-size: 2.8rem;
              }
              left: 28%;
              top: 10vh;
              @media screen and (max-width: 1600px) {
                h1 {
                  font-size: 2.6rem;
                }
                left: 30%;
                top: 15vh;
                @media screen and (max-width: 1440px) {
                  h1 {
                    font-size: 2.4rem;
                  }
                  left: 33%;
                  top: 16vh;
                  @media screen and (max-width: 1366px) {
                    h1 {
                      font-size: 2.2rem;
                    }
                    @media screen and (max-width: 1280px) {
                      h1 {
                        font-size: 2rem;
                      }
                      left: 40%;
                      top: 8vh;

                      @media screen and (max-width: 992px) {
                        h1 {
                          font-size: 1.9rem;
                          padding-bottom: 4px;
                        }
                        width: 100%;
                        position: fixed;
                        text-align: center;
                        left: 0;
                        top: 12vh;
                      }
                    }
                  }
                }
              }
            }
          }
          .textCarouselWrapper {
            opacity: 0;
            bottom: 0;
            left: 25%;
            .staticTextDiv {
              @media screen and (max-width: 1920px) {
                @media screen and (max-width: 1600px) {
                  @media screen and (max-width: 1440px) {
                    top: 2vh;
                    @media screen and (max-width: 1366px) {
                      @media screen and (max-width: 1280px) {
                      }
                    }
                  }
                }
              }
              @media screen and (min-width: 1920px) {
                top: -2vh;
                @media screen and (min-width: 2560px) {
                  top: -3vh;
                }
              }
              h1 {
                @media screen and (min-width: 1920px) {
                  font-size: 2.6rem;
                  @media screen and (min-width: 2560px) {
                  }
                }
                @media screen and (max-width: 1920px) {
                  font-size: 2.4rem;
                  @media screen and (max-width: 1600px) {
                    @media screen and (max-width: 1440px) {
                      font-size: 2.2rem;
                      @media screen and (max-width: 1366px) {
                        font-size: 2rem;
                        @media screen and (max-width: 1280px) {
                          font-size: 1.8rem;
                          @media screen and (max-width: 992px) {
                            font-size: 1.6rem;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .textWrapper {
              .carouselText {
                height: 1vh;
                padding: 10px 0;
                .animateHeader {
                  h1:nth-child(n) {
                    font-size: 3rem;
                    font-weight: 100;
                  }
                }
                @media screen and (max-width: 1920px) {
                  height: 2vh;
                  .animateHeader {
                    h1:nth-child(n) {
                      font-size: 2.8rem;
                    }
                  }
                  @media screen and (max-width: 1600px) {
                    height: 3vh;
                    .animateHeader {
                      h1:nth-child(n) {
                        font-weight: 600;
                        font-size: 2.6rem;
                      }
                    }
                    @media screen and (max-width: 1440px) {
                      height: 4vh;
                      .animateHeader {
                        h1:nth-child(n) {
                          font-size: 2.4rem;
                        }
                      }
                      @media screen and (max-width: 1366px) {
                        height: 5vh;
                        .animateHeader {
                          h1:nth-child(n) {
                            font-size: 2.2rem;
                          }
                        }
                      }
                    }
                  }
                }
                @media screen and (min-width: 1920px) {
                  font-size: 1.2rem;
                  @media screen and (min-width: 2560px) {
                    font-size: 1.4rem;
                  }
                }
              }
            }
          }
        }
      }
      .headerOverlay {
        @media screen and (min-width: 992px) {
          padding: 45px 0;
        }
        @media screen and (max-width: 992px) {
          display: flex;
          justify-content: center;
          left: 0 !important;
          right: 0;
          top: 18vh !important;
          margin: 0 auto !important;
          @media screen and (max-width: 768px) {
            padding: 32px 0 0;
          }
        }
        .aboutImg {
          .imgWrapper {
            @media screen and (max-width: 992px) {
              display: flex;
              justify-content: center;
              align-items: flex-end;
            }
            .aboutImageBackground {
              width: 185px;
              height: 185px;
              @media screen and (min-width: 1366px) {
                width: 200px;
                height: 200px;
                @media screen and (min-width: 1600px) {
                  width: 220px;
                  height: 220px;
                  @media screen and (min-width: 1921px) {
                    height: 250px;
                    width: 250px;
                  }
                }
              }
            }
          }
        }
      }
      @media screen and (max-width: 992px) {
        padding: 0;
      }
    }
    .componentContent {
      .aboutContent {
        .aboutText {
          .aboutSummery {
            @media screen and (max-width: 992px) {
              width: 100%;
            }
            p {
              @media screen and (max-width: 1920px) {
                width: 80%;
                font-size: 1.1rem;
                @media screen and (max-width: 1600px) {
                  @media screen and (max-width: 1440px) {
                    width: 95%;
                    @media screen and (max-width: 1366px) {
                      font-size: 1rem;
                      @media screen and (max-width: 1280px) {
                        @media screen and (max-width: 992px) {
                          width: 65%;
                          margin: 0 auto;
                          @media screen and (max-width: 768px) {
                            font-size: .9rem;
                            @media screen and (max-width: 544px) {
                              @media screen and (max-width: 460px) {
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              @media screen and (min-width: 1920px) {
                font-size: 1.2rem;
                @media screen and (min-width: 2560px) {
                  font-size: 1.4rem;
                }
              }
            }
          }
          @media screen and (max-width: 992px) {
            padding: 0;
            display: flex;
            flex-flow: column;
            @media screen and (max-width: 768px) {
              padding: 0;
              margin: 0;
              display: flex;
              flex-flow: column;
              align-items: center;
              justify-content: center;
            }
          }
        }
        @media screen and (max-width: 992px) {
          padding: 0;
          max-width: 60%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          .summary-paragraph {
            width: 100% !important;
            margin: 0 !important;
          }
          .portfolioBtn {
            display: none;
          }
        }
      }
    }
  }
  /* ABOUT || ABOUT || ABOUT || ABOUT */
}

.portfolioResponssiveComponent {
  /* PORTFOLIO || PORTFOLIO || PORTFOLIO || PORTFOLIO */
  .inComponentWrapper {
    .componentHeader {
      @media screen and (max-width: 1440px) {
        right: 5%;
        @media screen and (max-width: 1366px) {
          @media screen and (max-width: 1200px) {
            right: 0%;
            display: flex;
            width: 100%;
            @media screen and (max-width: 1024px) {
              left: 0;
              width: 100%;
              padding-top: 0 !important;
            }
          }
        }
      }

      .portfolioTitle {
        @media screen and (max-width: 1600px) {
          h1 {
            font-size: 2.6rem !important;
          }
          h3 {
            font-size: 0.8rem !important;
          }
          @media screen and (max-width: 1366px) {
            h1 {
              font-size: 2.4rem !important;
            }
            h3 {
              font-size: 0.6rem !important;
            }
            @media screen and (max-width: 1200px) {
              width: 100%;
              @media screen and (max-width: 992px) {
                position: absolute !important;
                bottom: 0 !important;
                text-align: center;
                padding-bottom: 5px;
                h1 {
                  font-size: 2rem !important;
                }
                h3 {
                  font-size: 0.7rem !important;
                }
              }
            }
          }
        }
      }
    }
    .componentContent {
      @media screen and (min-width: 992px) {
        width: 100%;
      }
      .portfolioBlock {
        .portfolioCardsWrapper {
          @media screen and (max-width: 992px) {
            width: 85%;
            margin: 0 auto;
          }
          .mat-card {
            mat-card-title {
              @media screen and (max-width: 1600px) {
                h1 {
                  font-size: larger;
                }
                span {
                  font-size: 70%;
                }
                @media screen and (max-width: 1366px) {
                  span {
                    font-size: 75%;
                  }
                  @media screen and (max-width: 1024px) {
                    h1 {
                      font-size: x-large;
                    }
                    span {
                      font-size: 75%;
                    }
                    @media screen and (max-width: 992px) {
                      justify-content: flex-start;
                      padding: 0;
                    }
                  }
                }
              }
            }
            .company-info {
              @media screen and (max-width: 992px) {
                margin: 2% 3% 2%;
                h1 {
                  font-size: smaller;
                }
              }
              img {
                @media screen and (max-width: 1600px) {
                  @media screen and (max-width: 1440px) {
                    @media screen and (max-width: 1280px) {
                      @media screen and (max-width: 1200px) {
                        width: 25px !important;
                      }
                    }
                  }
                }
              }
            }
            @media screen and (max-width: 1200px) {
              padding: 0;
            }
          }

          .contentWrapper {
            @media screen and (max-width: 1200px) {
              :nth-child(n) {
                box-shadow: none;
                opacity: 1;
                margin: auto;
              }
            }
            .rightContent,
            .leftContent {
              @media screen and (max-width: 1200px) {
                :nth-child(n) {
                  transition: none !important;
                  box-shadow: none;
                  backdrop-filter: unset;
                  justify-content: center;
                }
                @media screen and (max-width: 992px) {
                  padding: 0;
                }
              }
              .cardText {
                .textContainer {
                  width: 95%;
                  .desc {
                    p {
                      font-size: 115%;
                      @media screen and (max-width: 1600px) {
                        font-size: 100%;
                      }
                    }
                  }
                  @media screen and (max-width: 1600px) {
                    width: 85%;
                    @media screen and (max-width: 1440px) {
                      @media screen and (max-width: 1366px) {
                        @media screen and (max-width: 1280px) {
                          @media screen and (max-width: 992px) {
                            display: flex;
                            flex-flow: column;
                            align-items: flex-start;
                            .title {
                              margin: 0;
                              padding: 15px 0;
                            }
                            @media screen and (max-width: 768px) {
                              @media screen and (max-width: 544px) {
                                @media screen and (max-width: 460px) {
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              .cardImage {
                .imageOverlay {
                  width: 100%;
                  flex-grow: 1;
                  aspect-ratio: 16/9;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
                .imageWrap {
                  width: 100%;
                  img {
                    width: 560px;
                    flex-grow: 1;
                    aspect-ratio: 16/9;
                    border-radius: 1em;
                    @media screen and (max-width: 1600px) {
                      width: 460px;
                      @media screen and (max-width: 1440px) {
                        width: 350px;
                        @media screen and (max-width: 1366px) {
                          @media screen and (max-width: 1280px) {
                            width: 380px;
                            @media screen and (max-width: 992px) {
                              width: 250px;
                              @media screen and (max-width: 768px) {
                                @media screen and (max-width: 544px) {
                                  @media screen and (max-width: 460px) {
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          @media screen and (max-width: 1200px) {
            top: 25% !important;
            .contentWrapper {
              width: 100% !important;
              .rightContent,
              .leftContent {
                width: 100%;
                display: flex;
                flex-flow: column;
                .textContainer {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .title {
                    font-size: 1rem;
                    top: 0;
                    color: var(--secondary-text);
                    padding: 0 0 25px 0;
                  }
                  .desc {
                    opacity: 1 !important;
                    transition: none !important;
                    color: var(--alt-text2);
                  }
                }
                .cardImage {
                  width: 100%;
                  align-items: center;
                  transition: none !important;
                  transform: none;
                  display: flex;
                  align-items: center;
                  margin: 0 auto;
                  padding-top: 25px;
                  .imageOverlay {
                    transition: none;
                    backdrop-filter: unset;
                    box-shadow: none;
                    aspect-ratio: unset !important;
                  }
                  .imageWrap {
                    position: relative;
                    width: 85%;
                    display: flex;
                    margin: 0 auto;
                    background-color: var(--primary-bg-light);
                  }
                }
              }
            }
          }
          .lineBreak {
            @media screen and (max-width: 992px) {
              padding: 0 0 35px !important;
            }
          }
        }
      }
    }
  }
  /* PORTFOLIO || PORTFOLIO || PORTFOLIO || PORTFOLIO */
}

.experienceResponssiveComponent {
  /* EXPERIENCE || EXPERIENCE || EXPERIENCE || EXPERIENCE */
  .inComponentWrapper {
    @media screen and (max-width: 1024px) {
      max-height: none;
    }
    .leftSideWorkComponent {
      @media screen and (max-width: 992px) {
        width: 100%;
        .overFlowBlock {
          overflow-y: auto;
          overflow-x: hidden;
          .descriptionContainer {
            padding: 7px !important;
            img {
              position: relative;
              top: 8px;
              right: 8px;
              width: 20px;
            }
            p {
              transition: all 0.15s ease-in-out;
              cursor: default;
            }
            @media screen and (max-width: 768px) {
              padding: 5px 10px 7px !important;
            }
          }
        }
      }
      .componentContent {
        @media screen and (min-width: 1601px) {
          left: 18vw;
        }
        @media screen and (max-width: 992px) {
          position: initial;
          display: flex;
          justify-content: center;
        }
        .workTitle {
          .inner-work-title-wrapper {
            @media screen and (min-width: 1920px) {
              h1 {
                font-size: 3.4rem;
              }
            }
          }
          @media screen and (max-width: 1920px) {
            .inner-work-title-wrapper {
              h1 {
                font-size: 3.4rem;
              }
              h3 {
                font-size: 0.9rem;
              }
            }
            @media screen and (max-width: 1600px) {
              .inner-work-title-wrapper {
                h1 {
                  font-size: 2.6rem;
                }
                h3 {
                  font-size: 0.8rem;
                }
              }
              @media screen and (max-width: 1366px) {
                .inner-work-title-wrapper {
                  h1 {
                    font-size: 2.4rem;
                  }
                }
                @media screen and (max-width: 1280px) {
                  @media screen and (max-width: 992px) {
                    top: 0;
                    height: auto;
                    left: 0;
                    h1 {
                      font-size: 2rem !important;
                    }
                    h3 {
                      font-size: 0.7rem !important;
                    }
                  }
                }
              }
            }

            @media screen and (max-width: 1024px) {
              padding-top: 16vh;
              text-align: center;
              @media screen and (max-width: 992px) {
              }
            }
          }
        }
        .workDiv {
          @media screen and (max-width: 1600px) {
            /* left: 9vw; */
            @media screen and (max-width: 1440px) {
              // left: 5vw;
              @media screen and (max-width: 1366px) {
                @media screen and (max-width: 1280px) {
                  @media screen and (max-width: 992px) {
                    position: fixed;
                    padding: 0;
                    left: 0;
                    top: 10%;
                    max-height: 88%;
                    @media screen and (max-width: 768px) {
                      @media screen and (max-width: 544px) {
                        @media screen and (max-width: 460px) {
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          @media screen and (min-width: 1024px) {
            padding-left: 0;
          }
          .mat-accordion-wrapper {
            ::ng-deep mat-accordion {
              @media screen and (min-width: 1366px) {
              }
              @media screen and (max-width: 1600px) {
                margin: 0;
                @media screen and (max-width: 1440px) {
                  // width: 35%;
                  @media screen and (max-width: 992px) {
                    width: 85%;
                    padding: 0;
                    margin: 0 auto;
                  }
                  .mat-expansion-panel {
                    @media screen and (min-width: 1024px) {
                    }
                    @media screen and (max-width: 1024px) {
                      // width: 85%;
                      @media screen and (max-width: 992px) {
                        margin: 10px 0;
                      }
                    }
                    .mat-expansion-panel-header {
                      padding: 35px;
                      @media screen and (max-width: 992px) {
                        padding: 20px;
                      }
                      .mat-content {
                        .mat-expansion-panel-header-title {
                          h1 {
                            font-size: 1.2rem;
                          }
                          @media screen and (max-width: 992px) {
                            h1 {
                              font-size: 0.4rem;
                            }
                          }
                        }
                        .mat-expansion-panel-header-description {
                          h5 {
                            font-size: 0.8rem;
                          }
                        }
                        @media screen and (max-width: 1280px) {
                          .mat-expansion-panel-header-title {
                            h1 {
                              font-size: 1.1rem;
                            }
                          }
                          .mat-expansion-panel-header-description {
                            h5 {
                              font-size: 0.7rem;
                            }
                          }
                          @media screen and (max-width: 992px) {
                            .mat-expansion-panel-header-title {
                              h1 {
                                font-size: 0.8rem;
                              }
                            }
                            .mat-expansion-panel-header-description {
                              h5 {
                                color: var(--primary-text) !important;
                                transition: none !important;
                                font-size: 0.6rem;
                              }
                            }
                          }
                        }
                      }
                    }
                    .mat-expansion-panel-content {
                      .mat-expansion-panel-body {
                        @media screen and (max-width: 992px) {
                          .overFlowBlock {
                            p:nth-child(n) {
                              font-size: 0.7rem;
                            }
                            img:nth-child(n) {
                              width: 15px;
                            }
                          }
                        }
                      }
                    }
                    &:not(.mat-expanded) {
                    }
                    @media screen and (max-width: 992px) {
                      .logoWrapper {
                        display: flex;
                        justify-content: center;
                        img {
                          max-width: 120px;
                          margin: 0 auto;
                        }
                      }
                    }
                    .mat-expanded {
                      .mat-expansion-indicator {
                        @media screen and (max-width: 992px) {
                          padding: 5px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .rightSideWorkComponent {
      @media screen and (min-width: 1601px) {
      }
      @media screen and (max-width: 1600px) {
        @media screen and (max-width: 1440px) {
          @media screen and (max-width: 1366px) {
            @media screen and (max-width: 1280px) {
              @media screen and (max-width: 992px) {
                display: none;
                @media screen and (max-width: 768px) {
                  @media screen and (max-width: 544px) {
                    @media screen and (max-width: 460px) {
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /* EXPERIENCE || EXPERIENCE || EXPERIENCE || EXPERIENCE */
}

.contactResponssiveComponent {
  /* CONTACT || CONTACT || CONTACT || CONTACT */

  .inComponentWrapper {
    .rightWrapper {
      .contactActions {
        .contactForm {
          .formContainer {
            @media screen and (min-width: 1600px) {
              height: 50%;
              width: 60%;
              padding-top: 15px;
              .innerFormContainer {
                .matBtn {
                  padding: 5px;
                }
              }
            }
            @media screen and (max-width: 1600px) {
              height: 50%;
              width: 50%;
              padding-top: 25px;
              @media screen and (max-width: 1440px) {
                @media screen and (max-width: 1366px) {
                  height: 60%;
                  width: 50%;
                  .innerFormContainer {
                    .matBtn {
                      padding: 8px !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    .inComponentWrapper {
      display: flex;
      flex-flow: column;
      position: fixed;
      .leftWrapper {
        width: 100%;
        .contactWelcome {
          left: unset;
          width: 100%;
          height: 100%;
          top: 18%;
          @media screen and (max-width: 768px) {
            top: 15%;
          }
          .contactDiv {
            left: unset;
            position: static;
            .contactTitle {
              justify-content: center;
              h1 {
                font-size: 1.4rem;
              }
            }
            img {
              // padding-left: 5px;
              bottom: 0;
              position: relative;
            }
          }
        }
      }
      .rightWrapper {
        width: 100%;
        .contactActions {
          left: auto;
          height: unset;
          .contactForm {
            display: flex;
            justify-content: center;
            .formContainer {
              font-size: small;
              box-shadow: none;
              width: 50%;
              left: 0;
              box-shadow: 0 2px 12px -1px #02fef6b7;
              .innerFormContainer {
                position: relative;
                padding: 10px 0;
                .matBtn {
                  padding: 10px;
                }
                .mat-form-field-infix {
                  margin: 5px 0 !important;
                }
                textarea {
                  background-color: #1d1330;
                }
              }
              @media screen and (max-width: 768px) {
                width: 60%;
                bottom: 15px;
                padding: 15px;
              }
            }
          }
        }
      }
    }
  }

  /* CONTACT || CONTACT || CONTACT || CONTACT */
}
