@import "./animations.core.scss";

.componentContainer {
  width: 100%;
  overflow-x: hidden;
  cursor: default;
  @media screen and (max-width: 1440px) {
    position: relative;
  }

  .inComponentWrapper{
    max-height: 100%;
  }
  ::ng-deep .mat-expansion-indicator {
    padding: 0;
    color: #1c052d5b;
    &::after {
      padding: 4px;
    }
  }
}

@import "./breakpoints.core.scss";
