@import "./animations.core.scss";

.componentContainer {
  width: 100%;
  height: 100%;
  cursor: default;
  overflow-x: hidden !important;
  .inComponentWrapper{
    background: var(--secondary-bg);
    min-height: 100%;
    position: absolute;
    right: 0;
    width: 100%;
    @media screen and (max-width: 1600px) {
      width: 85%;
      @media screen and (max-width: 992px) {
        left: 0;
        width: 100%;
      }
    }
  }
  ::ng-deep .mat-expansion-indicator {
    padding: 0;
    color: #1c052d5b;
    &::after {
      padding: 4px;
    }
  }
}

@import "./breakpoints.core.scss";
